---
import ErrorIcon from '../components/icons/ErrorIcon.astro';
---

<h2 class="text-4xl text-center font-bold text-gray-400">
    Error Page Not Found
    <ErrorIcon class="mx-auto w-24 h-24 text-gray-400" />
</h2>

<p class="text-xl font-semibold text-gray-500">Lo siento, la página que buscas no existe.</p>